
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  padding: 0 10px;
  height: 60px;
}

.px-16 {
  padding: 0 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.font-family-arial {
  font-family: Arial;
}

.font-family-verdana {
  font-family: Verdana;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-14px {
  font-size: 14px;
}

.font-weight-bold {
  font-weight: bold;
}

.line-height-0 {
  line-height: 0; 
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.mt-60 {
  margin: 60px 0 0 0;
}

.m-0 {
  margin: 0;
}

.mx-20 {
  margin: 0 20px;
}

.ml-20 {
  margin: 0 0 0 20px;
}

.mb-20 {
  margin: 0 0 20px 0;
}

.mb-12 {
  margin: 0 0 12px 0; 
}

.my-15 {
  margin: 15px 0;
}

.ml-146 {
  margin: 0 0 0 146px;
}

.ml-107 {
  margin: 0 0 0 107px;
}

.mb-4 {
  margin: 0 0 4px 0;
}

.banner {
  background: no-repeat bottom -155px right 0/104% url(../images/banner.png) #DCDCDC;
}

.width-and-padding {
  width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}

.mx-50-b-50 {
  margin: 0 50px 50px 50px;
}

.moon {
  width: 300px;
  height: 200px;
  margin: 0 50px;
}

.border-fieldset {
  border: 2px solid #40E0D0;
}

.color-legend {
  color: #40E0D0;
  font-weight: bold;
  font-size: 18px;
}

.py-50 {
  padding: 50px 0;       
}

.py-35 {
  padding: 35px 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.background-section {
  background-color: #f7f7f7;  
}

.background-footer {
  background-color: #303846;
  height: 200px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.text-decoration-none {
  text-decoration: none;
}

.border-radius {
  border-radius: 10px;  
  height: 30px;
}

.vertical-align {
  vertical-align: 18px;
}

.text-align-center {
  text-align: center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: rgba(255, 255, 255, 0);
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.border-1px-solid {
  border: 1px solid;
}

.square-200-30 {
  width: 200px;
  height: 30px;
}

.square-140-30 {
  width: 140px;
  height: 30px;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.background-white {
  background: white;
}
