:root {
  --default-font-size: 16px;
  --primary-color: white;
  --secondary-color: black;
  --background-light: #f7f7f7;
  --background-dark: #303846;
  --form-color: #40E0D0;
  --background-banner: #DCDCDC;
  --height-header: 60px;
  --height-footer: 200px;
}

.select {
  width: 140px;
  height: 30px;
  background: var(--primary-color);
}

.input {
  width: 200px;
  height: 30px;
  background: var(--primary-color);
  padding: 0 5px;
}

.legend {
  color: var(--form-color);
  font-weight: bold;
  font-size: 18px;
}

.button {
  background-color: rgba(255, 255, 255, 0);
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  padding: 0 10px;
  height: var(--height-header);
}

.banner {
  background: no-repeat bottom -155px right 0/104% url(../images/banner.png) var(--background-banner);
}

.section {
  width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--height-footer);
}

.font-family-arial {
  font-family: Arial, sans-serif;
}

.font-family-verdana {
  font-family: Verdana, sans-serif;
}

.default-font-size {
  font-size: var(--default-font-size);
}

.font-size-18px {
  font-size: 18px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-36px {
  font-size: 36px;
}

.font-weight-bold {
  font-weight: bold;
}

.text-white {
  color: var(--primary-color);
}

.text-black {
  color: var(--secondary-color);
}

.bg-light {
  background-color: var(--background-light);  
}

.bg-dark {
  background-color: var(--background-dark);
}

.mt-height-header {
  margin-top: var(--height-header);
}

.mt-15 {
  margin-top: 15px;
}

.m-0 {
  margin: 0;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-50 {
  margin-right: 50px;
  margi-left: 50px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-12 {
  margin-bottom: 12px; 
}

.mb-4 {
  margin-bottom: 4px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;    
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.square-300-200 {
  width: 300px;
  height: 200px;
}

.width-200 {
  width: 200px;
}

.border-fieldset {
  border: 2px solid var(--form-color);
}

.border-1px-solid {
  border: 1px solid;
}

.border-radius {
  border-radius: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.vertical-align-18 {
  vertical-align: 18px;
}

.text-align-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-flex-start {
  display: flex;
  justify-content: flex-start;
}
