
.header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #ffffff;
        padding: 0 10px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.padding-16px {
        padding: 0 16px;
}

.flex-center {
        display: flex;
        justify-content: center;
        align-items: center; 
}

.text-on-banner {
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.font-family-arial {
        font-family: Arial;
}

.font-family-georgia {
        font-family: Georgia;
}

.font-size-20px {
        font-size: 20px;
}

.font-size-18px {
        font-size: 18px;
}

.font-size-16px {
        font-size: 16px;
}

.line-height-0 {
        line-height: 0; 
}

.text-white {
        color: #ffffff;
}

.text-black {
        color: #000000;
}

.margin-top-60px {
        margin: 60px 0 0 0;
}

.margin-0 {
        margin: 0;
}

.margin-0-20px {
        margin: 0 20px;
}

.margin-left-20px {
        margin: 0 0 0 20px;
}

.margin-bottom-20px {
        margin: 0 0 20px 0;
}

.margin-bottom-12px {
        margin: 0 0 12px 0; 
}

.margin-30px-0 {
        margin: 30px 0;
}

.wrapper {
        height: 360px;
}

.example {
        overflow: hidden;
}

.example img {
        width: 100%;
        height: auto;
}

.section-1 {
        display: flex;
        width: 1000px;
        align-items: center;
        justify-content: space-between;
        margin: 0 250px;
        padding: 40px 0 0 0;
}

.section-2 {
        width: 1000px;
        height: 285px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 260px;
        padding: 30px 0;
}

.section-3 {
        width: 1000px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;       
        margin: 0 260px;
        padding: 20px 0 15px 0;
}

.margin-0-50px-50px-50px {
        margin: 0 50px 50px 50px;
}

.background-section {
        background-color: #DCDCDC;
        height: 340px;
        margin: 50px 0 0 0;
}

.moon {
        width: 300px;
        height: 200px;
        margin: 0 50px;
}

.border-fieldset {
        border: 2px solid #40E0D0;
}

.color-legend {
        color: #40E0D0;
        font-weight: bold;
        font-size: 18px;
}

.section-form {
        flex-direction: column;
        padding: 0 0 20px 0;       
}

.flex-space-between {
        display: flex;
        justify-content: space-between;
}

.background-section-form {
        background-color: #DCDCDC;
        height: 450px;
        margin: 0 0 0 0;  
}

.background-footer {
        background-color: #261F2F;
        height: 160px;
}

.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 160px;
}

.text-decoration-none {
        text-decoration: none;
}

.border-radius {
        border-radius: 10px;  
        height: 30px;
}

.vertical-align {
        vertical-align: 18px;
}

.text-align-center {
        text-align: center;
}

.flex-direction-column {
        display: flex;
        flex-direction: column; 

}

.button {
        background-color: rgba(255, 255, 255, 0);
        height: 35px;
}

.border-1px-solid {
        border: 1px solid
}
